img {
  width: 50px;
  padding-left: 32px;
}
table {
  background-color: rgb(78, 78, 173);
  margin: auto;
  width: 50%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
header {
  margin-top: 20px;
}
img {
  padding-left: 32px;
}
